[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wagtail = "==2.1.2"
Django = "<2.1,>=2.0"
puput = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.7"
